<a href="https://colab.research.google.com/github/Mario-RJunior/olist-e-commerce/blob/master/analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Segmentação de Clientes

## 1) Introdução

Neste trabalho iremos analisar a base de dados disponibilizada online pela Olist.

Esta base refere-se ao desenvolvimento do comércio eletrônico no Brasil nos últimos anos, apresentando informações tanto das compras realizadas, quanto dos clientes que as fizeram, dos vendedores envolvidos e dos produtos comercializado neste tempo.

Nosso objetivo é explorar esta base de dados para tirar informações relevantes para serem utilizadas nos negócios, culminando com uma segmentação dos clientes, onde estes possam ser classificados de acordo com sua assiduidade às compras online.

## 2) Preparação dos dados

In [1]:
! pip install squarify

Requirement already satisfied: squarify in /usr/local/lib/python3.6/dist-packages (0.4.3)

In [2]:
# Importando as bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from datetime import timedelta
import squarify
import warnings
warnings.filterwarnings('ignore')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
! git clone https://github.com/Mario-RJunior/olist-e-commerce

fatal: destination path 'olist-e-commerce' already exists and is not an empty directory.

### 2.1) Gerando o dataframe

Para gerar um dataframe, iremos carregar os arquivos ***.csv*** de forma independente e depois iremos juntá-los uns aos outros através das chaves correspondentes.

In [4]:
# Carregando os datasets
customer = pd.read_csv('olist-e-commerce/olist_customers_dataset.csv')
orders = pd.read_csv('olist-e-commerce/olist_orders_dataset.csv')
orders_items = pd.read_csv('olist-e-commerce/olist_order_items_dataset.csv')

In [5]:
# Junção dos dataframes
df = pd.merge(right=customer,
             left=orders,
             on='customer_id')

df = pd.merge(right=orders_items,
             left=df,
             on='order_id')

In [6]:
df.head()

                           order_id  ... freight_value
0  e481f51cbdc54678b7cc49136f2d6af7  ...          8.72
1  53cdb2fc8bc7dce0b6741e2150273451  ...         22.76
2  47770eb9100c2d0c44946d9cf07ec65d  ...         19.22
3  949d5b44dbf5de918fe9c16f97b45f8a  ...         27.20
4  ad21c59c0840e6cb83a9ceb5573f8159  ...          8.72

[5 rows x 18 columns]

In [7]:
print(f'Número de linhas: {df.shape[0]} \nNúmero de colunas: {df.shape[1]}')

Número de linhas: 112650
Número de colunas: 18

### 2.2) Verificando a consistência dos dados

Para utilizar nosso dataframe da forma ideal, precisamos inicialmente ter certeza que os dados estão consistentes, ou seja, no formato ideal, que não há valores faltantes na tabela, etc. Checaremos essas condições a seguir.

In [8]:
# Convertendo a coluna "order_purchase_timestamp" para o formato datetime
df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'])

In [9]:
# Confirmando os tipos dos dados de cada coluna
df.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                        object
order_delivered_carrier_date             object
order_delivered_customer_date            object
order_estimated_delivery_date            object
customer_unique_id                       object
customer_zip_code_prefix                  int64
customer_city                            object
customer_state                           object
order_item_id                             int64
product_id                               object
seller_id                                object
shipping_limit_date                      object
price                                   float64
freight_value                           float64
dtype: object

In [10]:
# Verificando os valores nulos
df.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                  15
order_delivered_carrier_date     1194
order_delivered_customer_date    2454
order_estimated_delivery_date       0
customer_unique_id                  0
customer_zip_code_prefix            0
customer_city                       0
customer_state                      0
order_item_id                       0
product_id                          0
seller_id                           0
shipping_limit_date                 0
price                               0
freight_value                       0
dtype: int64

## 3) Gerando Visualizações

### 3.1) Modelo RFM

O modelo RFM é largamente utilizado para segmentação de clientes, levando em consideração as respectivas características:

- ***Recência (Recency)***: total de dias em que o cliente não realiza uma compra.
- ***Frequência (Frequency)***: número total de compras que o cliente já realizou.
- ***Monetaridade (Monetary)***: gasto total do cliente.

Iremos então descobrir cada uma dessas variáveis a partir do dataframe obtido acima.

#### 3.1.2) Deletando colunas

Iremos agora excluir algumas colunas que por ora não utilizaremos. Para isso, criaremos um novo dataframe denominado "df_2".

In [11]:
# Deletando colunas
df_2 = df.drop(columns=['customer_zip_code_prefix', 'customer_city', 
                        'customer_state', 'order_status', 'order_approved_at', 
                        'order_delivered_carrier_date', 
                        'order_delivered_customer_date',
                        'order_estimated_delivery_date', 'order_item_id', 
                        'seller_id', 'shipping_limit_date'])

df_2.head()

                           order_id  ... freight_value
0  e481f51cbdc54678b7cc49136f2d6af7  ...          8.72
1  53cdb2fc8bc7dce0b6741e2150273451  ...         22.76
2  47770eb9100c2d0c44946d9cf07ec65d  ...         19.22
3  949d5b44dbf5de918fe9c16f97b45f8a  ...         27.20
4  ad21c59c0840e6cb83a9ceb5573f8159  ...          8.72

[5 rows x 7 columns]

In [12]:
df_2.isnull().sum()

order_id                    0
customer_id                 0
order_purchase_timestamp    0
customer_unique_id          0
product_id                  0
price                       0
freight_value               0
dtype: int64

Como agora, para essas colunas não há valores nulos podemos partir diretamente para a análise.

In [13]:
df_2 = df_2.groupby(by=['order_id', 'customer_id', 'customer_unique_id', 
                        'order_purchase_timestamp', 'product_id',
                        'price']).count().reset_index()
df_2.rename(columns={'freight_value': 'quantity'}, inplace=True)
df_2.head()

                           order_id  ... quantity
0  00010242fe8c5a6d1ba2dd792cb16214  ...        1
1  00018f77f2f0320c557190d7a144bdd3  ...        1
2  000229ec398224ef6ca0657da4fc703e  ...        1
3  00024acbcdf0a6daa1e931b038114c75  ...        1
4  00042b26cf59d7ce69dfabb4e55b4fd9  ...        1

[5 rows x 7 columns]