<a href="https://colab.research.google.com/github/Mario-RJunior/olist-e-commerce/blob/master/outliers_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
! git clone https://github.com/Mario-RJunior/olist-e-commerce

Cloning into 'olist-e-commerce'...
remote: Enumerating objects: 57, done.
remote: Counting objects: 100% (57/57), done.
remote: Compressing objects: 100% (57/57), done.
remote: Total 238 (delta 35), reused 0 (delta 0), pack-reused 181
Receiving objects: 100% (238/238), 25.97 MiB | 24.46 MiB/s, done.
Resolving deltas: 100% (135/135), done.

In [4]:
df = pd.read_csv('olist-e-commerce/outliers.csv')
df.head()

                 customer_unique_id  recency  R  ...  M  score  RFM_level
0  0005e1862207bf6ccc02e4228effd9a0      548  0  ...  0      0       Ruim
1  000fbf0473c10fc1ab6f8d2d286ce20c       39  4  ...  1      7      Ótimo
2  0011805441c0d1b68b48002f1d005526      497  0  ...  1      1       Ruim
3  0011857aff0e5871ce5eb429f21cdaf5      432  1  ...  1      2    Regular
4  0028a7d8db7b0247652509358ad8d755      264  2  ...  1      3    Regular

[5 rows x 9 columns]

In [5]:
df.shape

(9541, 9)

In [6]:
df.describe()

           recency            R  ...            M        score
count  9541.000000  9541.000000  ...  9541.000000  9541.000000
mean    283.694791     1.992034  ...     1.425427     3.930406
std     174.812672     1.423794  ...     0.738446     1.979766
min       1.000000     0.000000  ...     0.000000     0.000000
25%     131.000000     1.000000  ...     1.000000     2.000000
50%     273.000000     2.000000  ...     1.000000     4.000000
75%     426.000000     3.000000  ...     2.000000     5.000000
max     729.000000     4.000000  ...     4.000000    12.000000

[8 rows x 7 columns]