<a href="https://colab.research.google.com/github/Mario-RJunior/olist-e-commerce/blob/master/time_series_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Análise Temporal

### 1) Importando e carregando os dados

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
! git clone https://github.com/Mario-RJunior/olist-e-commerce

Cloning into 'olist-e-commerce'...
remote: Enumerating objects: 60, done.
remote: Counting objects: 100% (60/60), done.
remote: Compressing objects: 100% (60/60), done.
remote: Total 440 (delta 36), reused 0 (delta 0), pack-reused 380
Receiving objects: 100% (440/440), 30.84 MiB | 10.54 MiB/s, done.
Resolving deltas: 100% (264/264), done.

In [10]:
# Carregando os datasets
customer = pd.read_csv('olist-e-commerce/datasets/olist_customers_dataset.csv')
orders = pd.read_csv('olist-e-commerce/datasets/olist_orders_dataset.csv')
orders_items = pd.read_csv('olist-e-commerce/datasets/olist_order_items_dataset.csv')

In [11]:
# Junção dos dataframes
df = pd.merge(right=orders,
             left=customer,
             on='customer_id')

df = pd.merge(right=orders_items,
             left=df,
             on='order_id')

In [12]:
df.head()

                        customer_id  ... freight_value
0  06b8999e2fba1a1fbc88172c00ba8bc7  ...         21.88
1  18955e83d337fd6b2def6b18a428ac77  ...         46.48
2  4e7b3e00288586ebd08712fdd0374a03  ...         17.79
3  b2b6027bc5c5109e529d4dc6358b12c3  ...         23.36
4  4f2d8ab171c80ec8364f7c12e35b23ad  ...         22.25

[5 rows x 18 columns]

In [13]:
df.shape

(112650, 18)

In [14]:
# Tipo das variáveis
df.dtypes

customer_id                       object
customer_unique_id                object
customer_zip_code_prefix           int64
customer_city                     object
customer_state                    object
order_id                          object
order_status                      object
order_purchase_timestamp          object
order_approved_at                 object
order_delivered_carrier_date      object
order_delivered_customer_date     object
order_estimated_delivery_date     object
order_item_id                      int64
product_id                        object
seller_id                         object
shipping_limit_date               object
price                            float64
freight_value                    float64
dtype: object

Agora, como desejamos trabalhar com séries temporais podemos considerar a coluna order_purchase_timestamp (que indica a data e a hora em que a ordem de compra foi gerada) e colocá-la como índice do dataframe. Mas antes, devemos converter esta coluna para o formato *datetime* uma vez que originalmente ela está no formato *object*.

In [15]:
df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'])

In [16]:
df.set_index(keys=df['order_purchase_timestamp'], inplace=True)
df.head()

                                               customer_id  ... freight_value
order_purchase_timestamp                                    ...
2017-05-16 15:05:35       06b8999e2fba1a1fbc88172c00ba8bc7  ...         21.88
2018-01-12 20:48:24       18955e83d337fd6b2def6b18a428ac77  ...         46.48
2018-05-19 16:07:45       4e7b3e00288586ebd08712fdd0374a03  ...         17.79
2018-03-13 16:06:38       b2b6027bc5c5109e529d4dc6358b12c3  ...         23.36
2018-07-29 09:51:30       4f2d8ab171c80ec8364f7c12e35b23ad  ...         22.25

[5 rows x 18 columns]

In [17]:
df.shape

(112650, 18)